

$color-base: #a843fa;

$color-shade1: #973ce1;
$color-shade2: #8636c8;
$color-shade3: #762faf;
$color-shade4: #652896;
$color-shade5: #54227d;
$color-shade6: #431b64;
$color-shade7: #32144b;
$color-shade8: #220d32;
$color-shade9: #110719;

$color-tint1: #b156fb;
$color-tint2: #b969fb;
$color-tint3: #c27bfc;
$color-tint4: #cb8efc;
$color-tint5: #d4a1fd;
$color-tint6: #dcb4fd;
$color-tint7: #e5c7fe;
$color-tint8: #eed9fe;
$color-tint9: #f6ecff;


$font-family_text: "Sniglet", system-ui;
